@using MemberManager.Context;

@{
    ViewData["Title"] = "Home Page";
    UserContext userContext = ViewData["userContext"] as UserContext;
}

<div class="text-center">
    <form name="userEdit" class="form-horizontal form-label-left">
        <div>
            <div class="page-title">
                <div class="title_left">
                    @{
                        string roleName = "";
                        if (userContext.roles.Contains(SiteRole.Admin))
                        {
                            roleName = "系統管理員";
                        }
                        else if (userContext.roles.Contains(SiteRole.Member))
                        {
                            roleName = "一般使用者";
                        }
                        else if (userContext.roles.Contains(SiteRole.Business))
                        {
                            roleName = "商家";
                        }
                    }
                    <h3>首頁，歡迎 @roleName @userContext.user.name</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr>
                                                <td>最新消息</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Gro Pro上市</td>
                                            </tr>
                                            <tr>
                                                <td>Air Pod上市</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr>
                                                <td>快速連結123</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <a target="_blank" href="https://github.com/a5108ww">Git Hub</a></td>
                                            </tr>
                                            <tr>
                                                <td><a target="_blank" href="https://outlook.live.com/mail/0/inbox">OutLook</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
